/*
 @author Austin Nolz
 CSS file for the login page
*/
.root {
  -fx-background-color: linear-gradient(#3c3c3c, black);
}

.label {
  -fx-text-fill: linear-gradient(gold, white);
}

.button {
  -fx-background-color: #0047AB;
  -fx-text-fill: linear-gradient(white, gold);
  -fx-border-color: #50c878;
  -fx-border-radius: 5;
}

.text-field {
  -fx-background-color: linear-gradient(#3c3c3c, gray);
  -fx-text-fill: white;
  -fx-border-radius: 5;
  -fx-border-color: gold;
}

.text-field:focused {
  -fx-background-color: linear-gradient(#0047AB, #50c878);
}

.choice-box:hover {
  -fx-background-color: linear-gradient(#0047AB, #50c878);
}

.button:hover {
  -fx-background-color: linear-gradient(#0047AB, #50c878);
}
